@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Quicksand:wght@300..700&family=Rouge+Script&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-bg: #fff2ef;
  --color-brand-primary: #b3879c;
  --color-brand-light: #f5f0ed;
  --color-brand-dark: #395461;

}

@layer base {
  body {
    @apply bg-brand-bg text-brand-dark antialiased;
  }
}